<form [formGroup]="settingsForm">
    <div class="field-group">
        <label>Client ID</label>
        <div class="field">
            <input type="text" formControlName="clientId" />
        </div>
    </div>
    <br>
    <div class="field-group">
        <label>Api Key</label>
        <div class="field">
            <input type="text" formControlName="apiKey" />
        </div>
    </div>
    <br>
    <div class="field-group">
        <label>Sheet ID</label>
        <div class="field">
            <input type="text" formControlName="sheetId" />
        </div>
    </div>
    <br>
    <button (click)="updateLocalStorage()">Update Local Store</button>
</form>
