/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'jokerman';
    src: url('assets/fonts/Jokerman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'poppins' !important;
}
