<h1>Current Reading</h1>

<button (click)="getAllReadings()">Refresh Readings</button>

<br><br><br>
<table>
    <thead>
        <tr>
            <th>Date Time</th>
            <th>Reading</th>
            <th>Comments</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let reading of readings; let i=index">
            <tr>
                <td>{{reading.dateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{reading.reading}}</td>
                <td>{{reading?.comments}}</td>
                <td>
                    <button (click)="removeReading(i)">X</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

<h2>New Reading</h2>
<form #readingForm="ngForm" (ngSubmit)="submit(readingForm)">
    <label for="reading">Reading</label>&nbsp;
    <input type="text" id="reading" name="reading" ngModel required/>
    <br>
    <br>
    <label for="dateTime">Date Time</label>&nbsp;
    <input type="datetime-local" id="dateTime" name="dateTime" ngModel required/>
    <br>
    <br>
    <label for="comments">Comments</label>&nbsp;
    <textarea [rows]="2" id="comments" name="comments" ngModel></textarea>
    <br>
    <br>
    <button type="submit">Submit</button>&nbsp;&nbsp;
    <button type="button" (click)="onReset(readingForm)">Reset</button>
</form>